RewriteEngine on

RewriteCond %{HTTP_HOST} ^(qddian\.com|www\.qddian\.com|bandaodian\.com)$ [NC]
RewriteRule ^(.*)$ http://www.bandaodian.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !^(index\.php|images|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]